.header button {
  font-size: 72px;

  background-color: transparent;
  border: none;
}

.header button a {
  text-decoration: none;
  color: #724c21;
}

.header button a:hover {
  color: #633a0e;
}

.header strong {
  color: #f9b23d;
  font-size: 36px;
  font-family: "Open Sans";
}

/* QUERY RESPONSIV */
@media screen and (max-width: 653px) {
  .header strong {
    font-size: 15px;
  }
}
