* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 2px green solid !important; */
}

.container-game {
  height: 100vh;
  width: 100vw;
  background-color: #9c835f;
  overflow-x: hidden !important;
}

/* CLASS JOKER */
.hidden {
  display: none;
}

.icon-hover:hover > img {
  animation: iconResult 1s linear infinite;
}

.content-hover:hover {
  background-color: #c4c4c4;
  cursor: pointer;
}

.player-choose {
  background-color: #c4c4c4 !important;
  animation: iconResult 1s linear infinite;
}
/* END CLASS JOKER */

/* KEYFARMES */
@keyframes iconResult {
  0% {
    transform: rotate(10deg);
  }

  15% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(10deg);
  }

  45% {
    transform: rotate(0deg);
  }

  60% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(-20deg);
  }

  80% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
/* END KEYFARMES */
