#container {
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 1s;
}

/* FONT */
@font-face {
  font-family: "rkyrni";
  src: url("../assets/Font/Gondola_SD-Swash.ttf") format("truetype");

  font-family: "ricky";
  src: url("../assets/Font/FFF_Tusj.ttf") format("truetype");
}
/* END FONT */

/* KEYFRAMES */

@keyframes animationRotateY {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

@keyframes animationRotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes textTrueStory {
  0% {
    padding-top: 0;
  }

  50% {
    padding-top: 1rem;
  }

  100% {
    padding-top: 2rem;
  }
}

/* END KEYFRAMES */

/* CLASS JOKER */
.background-set {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.placeholder-orange::placeholder {
  color: orange;
}

.fs-13px {
  font-size: 13px;
}

.grey-light {
  color: rgb(90, 90, 90);
}

.white-text {
  color: rgb(243, 243, 243);
}

.hover-orange:hover {
  color: orange;
}

.border-l-semi-grey {
  border-left: 1px rgba(255, 255, 255, 0.175) solid;
}
.border-t-semi-grey {
  border-top: 1px rgba(255, 255, 255, 0.175) solid;
}
.border-r-semi-grey {
  border-right: 1px rgba(255, 255, 255, 0.175) solid;
}
.border-b-semi-grey {
  border-bottom: 1px rgba(255, 255, 255, 0.175) solid;
}

.hidden-left {
  transition: 1s;
  transform: translateX(-1000px) !important;
}

.hidden-right {
  transition: 1s;
  transform: translateX(1200px) !important;
}

/* END CLASS JOKER */

/* MAIN SCREEN */

#main-screen {
  background-image: radial-gradient(
      189.96% 61.18% at 50% 38.82%,
      rgba(255, 181, 72, 0) 0%,
      rgba(52, 44, 29, 0.80319) 73.22%,
      #08090a 99.74%
    ),
    url("../assets/img/main-bg.jpg");
  filter: contrast(1.1);
}

#navbar {
  background-color: rgba(0, 0, 0, 0.7);
}

#navbar #logo {
  animation: animationRotate 5s linear infinite;
}

#navbar img {
  width: 80px;
  height: auto;
}

#navbar a {
  font-size: 0.8rem;
  color: white;
}

#navbar a:hover {
  color: orange;
}

#navbar #btn-navbar {
  color: white;
  background-color: rgba(255, 255, 255, 0);
}

#main-content {
  margin-top: 10%;
  text-align: center;
}

#main-content h1 {
  font-size: 5rem;
  font-family: ricky, serif;
  margin-bottom: 1.5rem;
}

#main-content button {
  width: 12rem;
  font-weight: 500;
  margin-top: 1.5rem;
  transition: 1s;
  animation: animationRotateY 3s ease-in-out infinite;
}

#text-story {
  align-items: center;
  margin-top: 15rem;
  padding-top: 0;
  transition: 1s;
  animation: textTrueStory 1s ease infinite;
}

/* END MAIN SCREEN */

/* GAME-CHOICE */

#game-choice {
  background-image: radial-gradient(
      189.96% 61.18% at 50% 38.82%,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.80319) 73.22%,
      #08090a 99.74%
    ),
    url("../assets/img/the-games-bg.jpg");
}

#game-choice span {
  margin-top: 10rem;
}

#game-choice h2 {
  font-size: 4rem;
  font-weight: 400;
}

#carouselExampleIndicators {
  margin-top: 12rem;
  box-shadow: 12px 20px 12px -2px rgba(0, 0, 0, 0.752);
}

#carouselExampleIndicators .btn-slide-carousel {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px white solid;
  background-color: rgba(255, 255, 255, 0);
  margin-left: 3rem;
}

#carouselExampleIndicators .active {
  background-color: white;
}

#carouselExampleIndicators .carousel-control-prev {
  margin-left: -2rem;
  margin-top: 10rem;
  padding: 0;
  width: 20px;
  height: 38px;
}

#carouselExampleIndicators .carousel-control-next {
  margin-right: -2rem;
  margin-top: 10rem;
  padding: 0;
  width: 20px;
  height: 38px;
}
/* END GAME-CHOICE */

/* GAME CHOICE FEATURES */
#game-choice-features {
  background-image: radial-gradient(
      189.96% 61.18% at 50% 38.82%,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.80319) 73.22%,
      #08090a 99.74%
    ),
    url("../assets/img/features.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 12%;
  /* border: 1px red solid; */
}

#game-choice-features h2 {
  font-size: 4rem;
  font-weight: 400;
}

#content-choice-features {
  margin-left: 55%;
  margin-bottom: -30rem;
}

#game-choice-features .vertical-line {
  height: 160px;
  width: 0;
  border-left: 2px white solid;
  position: relative;
  left: 844px;
  top: 185px;
}

/* END GAME CHOICE FEATURES */

/* GAME REQUIREMENT */
#game-requirement {
  background-image: radial-gradient(
      189.96% 61.18% at 50% 38.82%,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.80319) 73.22%,
      #08090a 99.74%
    ),
    url("../assets/img/requirements.png");
  padding-top: 5rem;
}

#content-game-requirement {
  margin-left: 8rem;
}

#content-game-requirement h2 {
  font-size: 3.4rem;
  font-weight: 400;
}

#content-game-requirement span {
  margin-top: 1.3rem;
  margin-left: 11rem;
}

#game-requirement-table {
  border: 1px rgba(255, 255, 255, 0.175) solid;
  width: 400px;
  border-bottom-right-radius: 20px;
}

#content-game-requirement table tr td {
  padding: 0.8rem;
}

#content-game-requirement table tr p {
  font-size: 13px;
}

/* END GAME REQUIREMENT */

/* TOP SCORES */
#top-scores {
  background-image: radial-gradient(
      189.96% 61.18% at 50% 38.82%,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.80319) 73.22%,
      #08090a 99.74%
    ),
    url("../assets/img/top-score-bg.png");
  padding-top: 3rem;
  overflow-x: hidden;
}

#top-scores .top-scores-header {
  width: 20%;
  margin-top: -10rem;
}

#top-scores .top-scores-header-btn {
  width: 13rem;
  font-weight: 700;
}

#top-scores h2 {
  font-size: 3.4rem;
  font-weight: 400;
}

#top-scores .card {
  background-color: rgb(32, 32, 32);
  background-size: 100%;
  background-position: center;
  width: 27rem;
  min-height: 9rem;
  padding: 0.7rem;
}

#top-scores .card .card-name {
  margin-top: 0.8rem;
  padding-left: 1rem;
}

#top-scores .card .card-name-profesi {
  color: rgb(166, 166, 166);
}

#top-scores .card .card-pict-profile {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: absolute;
}

#top-scores .card .card-text-paragraft {
  width: 20rem;
  /* border: 1px red solid; */
}

#top-scores .card .card-date {
  color: rgb(166, 166, 166);
}

#top-scores .card-1 {
  margin-right: -18rem;
}
#top-scores .card-2 {
  margin-left: -10rem;
}
#top-scores .card-3 {
  margin-right: -8rem;
}

/* END TOP SCORES */

/* NEWSLETTER */

#newsletter {
  background-image: radial-gradient(
      189.96% 61.18% at 50% 38.82%,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.80319) 73.22%,
      #08090a 99.74%
    ),
    url("../assets/img/newsletter.png");
}

#newsletter figure {
  width: 400px;
  min-height: 600px;
  background-image: radial-gradient(
      transparent,
      transparent,
      rgba(0, 0, 0, 0.516),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("../assets/img/skull.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px rgba(0, 0, 0, 0.744) solid;
}

#content-newsletter {
  width: 40%;
}

#content-newsletter form {
  width: 50%;
}

#content-newsletter button {
  width: 40%;
}

#content-newsletter form input {
  border: none;
}

#content-newsletter form label {
  color: rgb(90, 90, 90);
}

#content-newsletter h2 {
  font-size: 3.4rem;
  font-weight: 400;
}

#content-newsletter p {
  font-size: 15px;
}

/* END NEWSLETTER */

/* MEDIA QUERY */

@media screen and (max-width: 1200px) {
  #main-content h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }

  #text-story {
    margin-top: 10rem;
  }

  #carouselExampleIndicators {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 992px) {
  #carouselExampleIndicators {
    margin-top: 4rem;
    padding-bottom: 2rem;
  }

  #top-scores {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #top-scores .top-scores-header {
    width: 70%;
    margin-top: 0;
    margin-bottom: 15px;
  }

  #top-scores .top-scores-header-btn {
    width: 5rem;
    font-size: 10px;
    padding: 2px;
  }

  #top-scores h2 {
    font-size: 1.5rem;
  }

  #top-scores span {
    font-weight: 100;
    font-size: 10px;
  }

  #top-scores .card-1 {
    margin-right: 0;
  }
  #top-scores .card-2 {
    margin-left: 0;
  }
  #top-scores .card-3 {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  #main-content h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  #text-story {
    margin-top: 12rem;
  }

  #game-choice {
    min-height: 100vw;
  }

  #game-choice h2 {
    font-size: 2rem;
    font-weight: 400;
  }

  #carouselExampleIndicators {
    margin-top: 1rem;
  }

  #content-choice-features p {
    font-size: 13px;
  }

  #content-game-requirement h2 {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

@media screen and (max-width: 576px) {
  #content-choice-features {
    margin-left: 200px;
  }

  #content-choice-features p {
    font-size: 10px;
  }

  #game-requirement-table {
    margin-left: -80px;
  }

  #carouselExampleIndicators .btn-slide-carousel {
    margin-left: 1rem;
  }

  #carouselExampleIndicators .carousel-control-next {
    margin-right: -2rem;
    margin-top: 3rem;
    width: 12px;
    height: 20px;
  }

  #carouselExampleIndicators .carousel-control-prev {
    margin-right: -2rem;
    margin-top: 3rem;
    width: 12px;
    height: 20px;
  }

  #game-choice-features h2 {
    font-size: 2rem;
    font-weight: 400;
  }

  #li-footer-border {
    border: none !important;
  }
}

@media screen and (max-width: 426px) {
  body {
    overflow-x: hidden;
  }
  #text-story {
    margin-top: 7rem;
  }

  #game-choice {
    min-height: 100vh;
    /* margin-top: 200px; */
  }

  #carouselExampleIndicators .btn-slide-carousel {
    margin-left: 1rem;
  }

  #carouselExampleIndicators .carousel-control-next {
    margin-right: -2rem;
    margin-top: 3rem;
    width: 12px;
    height: 20px;
  }

  #carouselExampleIndicators .carousel-control-prev {
    margin-right: -2rem;
    margin-top: 3rem;
    width: 12px;
    height: 20px;
  }

  #game-choice-features h2 {
    font-size: 2rem;
    font-weight: 400;
  }

  #game-requirement-table {
    margin-left: -100px;
    width: 300px;
  }

  #content-game-requirement h2 {
    margin-left: -50px;
  }

  #top-scores .card-1 {
    width: auto;
  }
  #top-scores .card-2 {
    width: auto;
  }
  #top-scores .card-3 {
    width: auto;
  }

  #newsletter {
    overflow-x: hidden;
  }

  #footer ul li a {
    font-size: 9px;
    border: none;
  }
}

/* END MEDIA QUERY */
