<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Games | Ricky Ramadani</title>
    <link rel="icon" href="/assets/img/logo.png" />
    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.2/examples/headers/"
    />
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/customStyleCss/game.css" />
    <link rel="stylesheet" href="/customStyleCss/gameHeader.css" />
    <link rel="stylesheet" href="/customStyleCss/gameSection.css" />
  </head>
  <body>
    <div class="container-game">
      <section class="container-fluid pt-lg-2 position-relative">
        <!-- HEADER -->
        <div class="header row align-items-center">
          <div class="col-1 ps-lg-5 me-5 me-lg-0">
            <button><a href="/">&lt; </a></button>
          </div>
          <div class="col-1">
            <img src="/assets/img/logo-2.png" alt="" />
          </div>
          <div class="col-lg row ps-lg-0 mx-auto mx-lg-0 pb-5 pb-lg-0">
            <strong> ROCK PAPER SCISSORS</strong>
          </div>
        </div>
        <!-- END HEADER -->
        <!-- CONTENT -->
        <div
          class="content-game row pt-lg-3 justify-content-evenly justify-content-lg-center"
        >
          <!-- PLAYER 1 -->
          <div class="col-4 col-lg-3 position-relative">
            <h3
              class="row mb-1 mb-lg-5 fs-1 justify-content-center fw-bold mx-auto mx-lg-0"
            >
              Player 1
            </h3>
            <div
              class="player icon-hover row content mb-1 mb-lg-5 justify-content-center mx-auto content-hover"
              data-player="batu"
            >
              <img
                class="batu align-self-center"
                src="/assets/img/batu.png"
                alt=""
              />
            </div>
            <div
              class="player icon-hover row content mb-1 mb-lg-5 justify-content-center mx-auto content-hover"
              data-player="kertas"
            >
              <img
                class="align-self-center"
                src="/assets/img/kertas.png"
                alt=""
              />
            </div>
            <div
              class="player icon-hover row content mb-1 mb-lg-5 justify-content-center mx-auto content-hover"
              data-player="gunting"
            >
              <img
                class="align-self-center"
                src="/assets/img/gunting.png"
                alt=""
              />
            </div>
          </div>
          <!-- END PLAYER 1 -->
          <div class="col-2 align-self-center text-center">
            <div class="vs row text-center">
              <strong class="col d-flex justify-content-center">VS</strong>
            </div>
            <div class="result row text-center hidden">
              <strong class="text-result col">PLAYER 1 WIN</strong>
            </div>
          </div>
          <!-- COM -->
          <div class="col-4 col-lg-3">
            <h3
              class="row mb-1 mb-lg-5 fs-1 justify-content-center fw-bold mx-auto mx-lg-0"
            >
              COM
            </h3>
            <div
              class="com-batu row content mb-1 mb-lg-5 justify-content-center mx-auto"
            >
              <img
                class="batu align-self-center"
                src="/assets/img/batu.png"
                alt=""
              />
            </div>
            <div
              class="com-kertas row content mb-1 mb-lg-5 justify-content-center mx-auto"
            >
              <img
                class="align-self-center"
                src="/assets/img/kertas.png"
                alt=""
              />
            </div>
            <div
              class="com-gunting row content mb-1 mb-lg-5 justify-content-center mx-auto"
            >
              <img
                class="align-self-center"
                src="/assets/img/gunting.png"
                alt=""
              />
            </div>
          </div>
          <!-- END COM -->
        </div>
        <!-- END CONTENT -->
        <!-- REFRESH -->
        <button class="refresh position-absolute hidden">
          <img src="/assets/img/refresh.png" alt="" />
        </button>
        <!-- END REFRESH -->
      </section>
    </div>

    <script src="/javascriptDom/gameDom.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
