<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/img/logo.png" />
    <title>Challenge Ricky Ramadani</title>
    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.2/examples/headers/"
    />
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/customStyleCss/landing.css" />
  </head>
  <body>
    <div id="container">
      <!-- ====================== MAIN SCREEN ======================== -->
      <section id="main-screen" class="background-set position-relative">
        <nav id="navbar" class="navbar navbar-expand-lg p-2">
          <div class="container-fluid">
            <div
              id="logo"
              class="col-2 navbar-brand text-white text-center fs-6"
            >
              <img src="/assets/img/logo.png" alt="LOGO" />
            </div>
            <button
              id="btn-navbar"
              class="d-lg-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="hover-orange">|||</span>
            </button>
            <div class="col-6 collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav w-100 ms-5">
                <a class="nav-link ms-4" href="#"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-house-fill pb-1"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"
                    />
                  </svg>
                  <span>HOME</span></a
                >
                <a class="nav-link ms-4" href="#">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-pencil-fill pb-1 d-lg-none"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
                    />
                  </svg>
                  <span>WORK</span></a
                >
                <a class="nav-link ms-4" href="#">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-envelope-check pb-1 d-lg-none"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"
                    />
                    <path
                      d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z"
                    />
                  </svg>
                  <span>CONTACT</span></a
                >
                <a class="nav-link ms-4" href="#">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-person-bounding-box pb-1 d-lg-none"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"
                    />
                    <path
                      d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"
                    />
                  </svg>
                  <span>ABOUT ME</span></a
                >
              </div>
            </div>
            <div
              class="col-4 collapse navbar-collapse justify-content-center"
              id="navbarNavAltMarkup"
            >
              <% if (!user) { %>
              <div class="navbar-nav">
                <a class="nav-link border-end border-white" href="/form"
                  ><span>SIGN UP</span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-check2-all text-warning"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"
                    />
                    <path
                      d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z"
                    />
                  </svg>
                </a>
                <a class="nav-link" href="/login"
                  ><span>LOG IN</span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="17"
                    fill="currentColor"
                    class="bi bi-box-arrow-in-left text-warning pb-1"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"
                    />
                  </svg>
                </a>
              </div>

              <% } else { %>
              <div class="navbar-nav">
                <div class="dropdown">
                  <button
                    class="btn btn-secondary dropdown-toggle text-warning"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <%= user[0].name %>
                  </button>
                  <ul class="dropdown-menu bg-dark">
                    <li>
                      <a class="dropdown-item" href="/"
                        ><span class="fst-italic">Log Out</span>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-box-arrow-right text-warning"
                          viewBox="0 0 16 16"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"
                          />
                          <path
                            fill-rule="evenodd"
                            d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                          /></svg
                      ></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"
                        ><span class="fst-italic">Edit Profile</span>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-person-lines-fill text-warning"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"
                          /></svg
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
              <% } %>
            </div>
          </div>
        </nav>

        <div id="main-content" class="">
          <h1 class="text-white text-center">PLAY TRADITIONAL GAME</h1>
          <p class="text-white text-center fs-5">
            Experience new traditional game play
          </p>
          <a href="/game">
            <button type="button" class="btn btn-warning fw-bolder">
              <span>PLAY NOW ||&nbsp;</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-joystick"
                viewBox="0 0 16 16"
              >
                <path
                  d="M10 2a2 2 0 0 1-1.5 1.937v5.087c.863.083 1.5.377 1.5.726 0 .414-.895.75-2 .75s-2-.336-2-.75c0-.35.637-.643 1.5-.726V3.937A2 2 0 1 1 10 2z"
                />
                <path
                  d="M0 9.665v1.717a1 1 0 0 0 .553.894l6.553 3.277a2 2 0 0 0 1.788 0l6.553-3.277a1 1 0 0 0 .553-.894V9.665c0-.1-.06-.19-.152-.23L9.5 6.715v.993l5.227 2.178a.125.125 0 0 1 .001.23l-5.94 2.546a2 2 0 0 1-1.576 0l-5.94-2.546a.125.125 0 0 1 .001-.23L6.5 7.708l-.013-.988L.152 9.435a.25.25 0 0 0-.152.23z"
                />
              </svg>
              &nbsp;
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-xbox"
                viewBox="0 0 16 16"
              >
                <path
                  d="M7.202 15.967a7.987 7.987 0 0 1-3.552-1.26c-.898-.585-1.101-.826-1.101-1.306 0-.965 1.062-2.656 2.879-4.583C6.459 7.723 7.897 6.44 8.052 6.475c.302.068 2.718 2.423 3.622 3.531 1.43 1.753 2.088 3.189 1.754 3.829-.254.486-1.83 1.437-2.987 1.802-.954.301-2.207.429-3.239.33Zm-5.866-3.57C.589 11.253.212 10.127.03 8.497c-.06-.539-.038-.846.137-1.95.218-1.377 1.002-2.97 1.945-3.95.401-.417.437-.427.926-.263.595.2 1.23.638 2.213 1.528l.574.519-.313.385C4.056 6.553 2.52 9.086 1.94 10.653c-.315.852-.442 1.707-.306 2.063.091.24.007.15-.3-.319Zm13.101.195c.074-.36-.019-1.02-.238-1.687-.473-1.443-2.055-4.128-3.508-5.953l-.457-.575.494-.454c.646-.593 1.095-.948 1.58-1.25.381-.237.927-.448 1.161-.448.145 0 .654.528 1.065 1.104a8.372 8.372 0 0 1 1.343 3.102c.153.728.166 2.286.024 3.012a9.495 9.495 0 0 1-.6 1.893c-.179.393-.624 1.156-.82 1.404-.1.128-.1.127-.043-.148ZM7.335 1.952c-.67-.34-1.704-.705-2.276-.803a4.171 4.171 0 0 0-.759-.043c-.471.024-.45 0 .306-.358A7.778 7.778 0 0 1 6.47.128c.8-.169 2.306-.17 3.094-.005.85.18 1.853.552 2.418.9l.168.103-.385-.02c-.766-.038-1.88.27-3.078.853-.361.176-.676.316-.699.312a12.246 12.246 0 0 1-.654-.319Z"
                />
              </svg>
            </button>
          </a>
        </div>
        <div
          id="text-story"
          class="white-text d-flex flex-column w-100 gap-0 position-absolute"
        >
          <span
            ><a
              class="white-text hover-orange text-decoration-none"
              href="#game-choice"
              >THE STORY</a
            ></span
          >
          <svg
            width="23"
            height="12"
            viewBox="0 0 23 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M21.5786 1.83362H1.32422L11.338 10.0027L21.5786 1.83362Z"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </section>
      <!-- ====================== END MAIN SCREEN ================================= -->

      <!-- ====================== GAME CHOICE ================================== -->
      <section
        id="game-choice"
        class="background-set d-flex flex-lg-row flex-column text-white justify-content-lg-center align-items-center align-items-lg-start overflow-hidden"
      >
        <div
          id="game-choice-content"
          class="col-lg-3 d-flex flex-column col-sm-5 ps-4 pt-md-0"
        >
          <span class="fs-4 fw-light">What's so special?</span>
          <h2 class="">THE GAMES</h2>
        </div>
        <!-- CAROUSEL -->
        <div class="col-7" id="game-choice-carousel">
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-bs-ride="true"
          >
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="btn-slide-carousel active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                class="btn-slide-carousel"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2"
                class="btn-slide-carousel"
                aria-label="Slide 3"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="3"
                class="btn-slide-carousel"
                aria-label="Slide 4"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="4"
                class="btn-slide-carousel"
                aria-label="Slide 5"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="/assets/img/rockpaperstrategy-1600.jpg"
                  class="d-block w-100"
                  alt="pic-Carousel"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="/assets/img/rockpaperstrategy-1700.jpg"
                  class="d-block w-100"
                  alt="pic-Carousel"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="/assets/img/rockpaperstrategy-1800.jpg"
                  class="d-block w-100"
                  alt="pic-Carousel"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="/assets/img/rockpaperstrategy-1900.jpg"
                  class="d-block w-100"
                  alt="pic-Carousel"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="/assets/img/rockpaperstrategy-2000.jpg"
                  class="d-block w-100"
                  alt="pic-Carousel"
                />
              </div>
            </div>
            <!-- === BUTTON PREV - NEXT === -->
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev"
            >
              <svg
                aria-hidden="true"
                width="20"
                height="38"
                viewBox="0 0 20 38"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M18 1.70007L18 35.7001L2 18.8904L18 1.70007Z"
                  stroke="white"
                  stroke-width="3.36454"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next"
            >
              <svg
                aria-hidden="true"
                width="18"
                height="39"
                viewBox="0 0 18 39"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1.82153 2.65635L1.82153 36.7297L15.5642 19.8838L1.82153 2.65635Z"
                  stroke="white"
                  stroke-width="3.36454"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="visually-hidden">next</span>
            </button>

            <!-- === END BUTTON PREV - NEXT === -->
          </div>
        </div>
        <!-- END CAROUSEL -->
      </section>
      <!-- ========= END GAME CHOICE ======== -->

      <!-- ========= GAME CHOICE FEATURES ======= -->
      <section id="game-choice-features" class="text-white">
        <div id="content-choice-features" class="d-flex flex-column w-25">
          <div class="d-flex flex-column mb-5">
            <span class="fw-light">What's so special?</span>
            <h2 class="">FEATURES</h2>
          </div>
          <div class="d-flex flex-column gap-3 d-xl-none">
            <div class="">
              <h4 class="text-warning fs-6 p-1">TRADITIONAL GAME</h4>
              <p class="">
                if you miss your childhood, we provide many traditional games
                here
              </p>
            </div>
            <div type="circle" class="">
              <h4 class="text-warning fs-6 p-1">GAME SUIT</h4>
            </div>
            <div type="circle" class="">
              <h4 class="text-warning fs-6 p-1">TBD</h4>
            </div>
          </div>
          <div class="d-none d-xl-inline-block">
            <ul class="fs-2">
              <li class="">
                <h4 class="text-warning mb-4 d-block">TRADITIONAL GAME</h4>
                <p class="fs-6">
                  if you miss your childhood, we provide many traditional games
                  here
                </p>
              </li>
              <li type="circle" class="">
                <h4 class="text-warning mb-4 mt-5 d-block">GAME SUIT</h4>
              </li>
              <li type="circle" class="">
                <h4 class="text-warning mb-4 mt-5 d-block">TBD</h4>
              </li>
            </ul>
          </div>
        </div>
        <div class="vertical-line d-none d-xl-inline-block"></div>
      </section>

      <!-- ========= END GAME CHOICE FEATURES ======= -->

      <!-- ========= GAME REQUIREMENT ========= -->
      <div id="game-requirement" class="background-set">
        <div
          id="content-game-requirement"
          class="d-flex flex-column text-white gap-5"
        >
          <div class="d-flex flex-row w-50">
            <h2 class="col-5">SYSTEM REQUIREMENTS</h2>
            <span class="col-7 d-none fw-light d-lg-inline-block"
              >Can My Computer Run This Game?</span
            >
          </div>
          <div class="me-5">
            <div id="game-requirement-table">
              <table>
                <tr>
                  <td class="border-r-semi-grey border-b-semi-grey">
                    <h4 class="text-warning fs-5">OS:</h4>
                    <p>
                      Windows 7 64-bit only<br />(No OSX Support at this time)
                    </p>
                  </td>
                  <td class="border-b-semi-grey">
                    <h4 class="text-warning fs-5">PROCESSOR:</h4>
                    <p>
                      Intel Core 2 duo @ 2.4 GHZ or<br />AMD Athion X2 @ 2.8 GHZ
                    </p>
                  </td>
                </tr>
                <tr>
                  <td class="border-r-semi-grey">
                    <h4 class="text-warning fs-5">MEMORY:</h4>
                    <p>4 GB RAM</p>
                  </td>
                  <td class="">
                    <h4 class="text-warning fs-5">storage:</h4>
                    <p>8 GB Available space</p>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" class="border-t-semi-grey">
                    <h4 class="text-warning fs-5">GRAPHICS:</h4>
                    <p>
                      NVIDIA GeForce GTX 660 2GB or <br />AMD Radeon HD 7850 2GB
                      DirectX11 (Shader Model 5)
                    </p>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- ========= END GAME REQUIREMENT ========= -->

      <!-- ========= TOP SCORES =========== -->
      <div id="top-scores" class="background-set">
        <div
          class="d-flex flex-lg-row flex-column text-white align-items-center align-items-lg-center justify-content-lg-evenly"
        >
          <div
            class="top-scores-header gap-lg-3 d-flex flex-row flex-lg-column gap-5 col-lg-3"
          >
            <div class="d-sm-flex flex-sm-column">
              <h2>TOP SCORES</h2>
              <span class="mb-5 fw-light"
                >This top score from various games provided on this
                platform</span
              >
            </div>
            <div>
              <button
                type="button"
                class="top-scores-header-btn btn btn-warning"
              >
                see more
              </button>
            </div>
          </div>
          <div
            class="d-flex flex-column col-6 gap-1 gap-lg-5 align-items-center"
          >
            <!-- ==== CARD 1 ==== -->
            <div class="card card-1 d-flex flex-column">
              <div
                class="d-flex flex-row mb-3 container-fluid justify-content-between"
              >
                <div class="col-2">
                  <img
                    class="card-pict-profile"
                    src="/assets/img/evan-lahti.jpg"
                    alt="Evan-Lathi"
                  />
                  <img
                    class="ms-2"
                    src="/assets/img/ellipse-orange.png"
                    alt="ellipse"
                  />
                </div>
                <div class="card-name col-7 ms-3 d-flex flex-column gap-0">
                  <h4 class="text-warning mb-0 p-0 fs-5">Evan Lahti</h4>
                  <p class="card-name-profesi mt-0">PC Gamer</p>
                </div>
                <div class="col-3 text-end">
                  <svg
                    width="19"
                    height="15"
                    viewBox="0 0 19 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      opacity="0.3"
                      d="M18.3981 2.41449C17.7231 2.70013 17.0072 2.88765 16.2741 2.97084C17.0365 2.53297 17.623 1.84099 17.899 1.01526C17.1731 1.42694 16.3789 1.71699 15.5508 1.87286C14.8519 1.15947 13.8744 0.755389 12.8519 0.757085C10.8105 0.757085 9.15361 2.33909 9.15361 4.29061C9.15361 4.5679 9.18627 4.83816 9.25021 5.09623C6.17639 4.94862 3.45216 3.54236 1.62787 1.404C1.30934 1.92529 1.12764 2.53297 1.12764 3.18076C1.12764 4.40623 1.78024 5.48805 2.77231 6.12188C2.18494 6.10468 1.61046 5.95309 1.09706 5.67983V5.7249C1.09706 7.43659 2.37189 8.86495 4.06278 9.19027C3.5182 9.3312 2.94722 9.35187 2.39305 9.25072C2.86384 10.6549 4.22998 11.6764 5.8475 11.7061C4.5821 12.6524 2.98781 13.2184 1.25483 13.2184C0.960153 13.2181 0.66574 13.2015 0.373047 13.1689C2.00943 14.1713 3.95365 14.7571 6.04185 14.7571C12.8438 14.7571 16.5627 9.37118 16.5627 4.70056C16.5627 4.54779 16.5627 4.39502 16.5513 4.24335C17.2749 3.74295 17.8998 3.12372 18.3969 2.41449H18.3981Z"
                      fill="white"
                    />
                  </svg>
                </div>
              </div>
              <div class="card-text-paragraft">
                <p class="">"One of my gaming highlights of the year."</p>
              </div>
              <div class="card-date">
                <small class="">October 18, 2018</small>
              </div>
            </div>
            <!-- ==== END CARD 1 ==== -->
            <!-- ==== CARD 2 ==== -->
            <div class="card card-2 d-flex flex-column">
              <div
                class="d-flex flex-row mb-3 container-fluid justify-content-between"
              >
                <div class="col-2">
                  <img
                    class="card-pict-profile"
                    src="/assets/img/jada-griffin.jpg"
                    alt="Evan-Lathi"
                  />
                  <img
                    class="ms-2"
                    src="/assets/img/ellipse-orange.png"
                    alt="ellipse"
                  />
                </div>
                <div class="card-name col-7 ms-3 d-flex flex-column gap-0">
                  <h4 class="text-warning mb-0 p-0 fs-5">Jada Griffin</h4>
                  <p class="card-name-profesi mt-0">Nerdreactor</p>
                </div>
                <div class="col-3 text-end">
                  <svg
                    width="19"
                    height="15"
                    viewBox="0 0 19 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      opacity="0.3"
                      d="M18.3981 2.41449C17.7231 2.70013 17.0072 2.88765 16.2741 2.97084C17.0365 2.53297 17.623 1.84099 17.899 1.01526C17.1731 1.42694 16.3789 1.71699 15.5508 1.87286C14.8519 1.15947 13.8744 0.755389 12.8519 0.757085C10.8105 0.757085 9.15361 2.33909 9.15361 4.29061C9.15361 4.5679 9.18627 4.83816 9.25021 5.09623C6.17639 4.94862 3.45216 3.54236 1.62787 1.404C1.30934 1.92529 1.12764 2.53297 1.12764 3.18076C1.12764 4.40623 1.78024 5.48805 2.77231 6.12188C2.18494 6.10468 1.61046 5.95309 1.09706 5.67983V5.7249C1.09706 7.43659 2.37189 8.86495 4.06278 9.19027C3.5182 9.3312 2.94722 9.35187 2.39305 9.25072C2.86384 10.6549 4.22998 11.6764 5.8475 11.7061C4.5821 12.6524 2.98781 13.2184 1.25483 13.2184C0.960153 13.2181 0.66574 13.2015 0.373047 13.1689C2.00943 14.1713 3.95365 14.7571 6.04185 14.7571C12.8438 14.7571 16.5627 9.37118 16.5627 4.70056C16.5627 4.54779 16.5627 4.39502 16.5513 4.24335C17.2749 3.74295 17.8998 3.12372 18.3969 2.41449H18.3981Z"
                      fill="white"
                    />
                  </svg>
                </div>
              </div>
              <div class="card-text-paragraft">
                <p class="">
                  "The next big thing in the world of streaming and survival
                  games."
                </p>
              </div>
              <div class="card-date">
                <small class="">December 21, 2018</small>
              </div>
            </div>
            <!-- ==== END CARD 2 ==== -->
            <!-- ==== CARD 3 ==== -->
            <div class="card card-3 d-flex flex-column">
              <div
                class="d-flex flex-row mb-3 container-fluid justify-content-between"
              >
                <div class="col-2">
                  <img
                    class="card-pict-profile"
                    src="/assets/img/aaron-williams.jpg"
                    alt="Evan-Lathi"
                  />
                  <img
                    class="ms-2"
                    src="/assets/img/ellipse-orange.png"
                    alt="ellipse"
                  />
                </div>
                <div class="card-name col-7 ms-3 d-flex flex-column gap-0">
                  <h4 class="text-warning mb-0 p-0 fs-5">Aaron Williams</h4>
                  <p class="card-name-profesi mt-0">Uproxx</p>
                </div>
                <div class="col-3 text-end">
                  <svg
                    width="19"
                    height="15"
                    viewBox="0 0 19 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      opacity="0.3"
                      d="M18.3981 2.41449C17.7231 2.70013 17.0072 2.88765 16.2741 2.97084C17.0365 2.53297 17.623 1.84099 17.899 1.01526C17.1731 1.42694 16.3789 1.71699 15.5508 1.87286C14.8519 1.15947 13.8744 0.755389 12.8519 0.757085C10.8105 0.757085 9.15361 2.33909 9.15361 4.29061C9.15361 4.5679 9.18627 4.83816 9.25021 5.09623C6.17639 4.94862 3.45216 3.54236 1.62787 1.404C1.30934 1.92529 1.12764 2.53297 1.12764 3.18076C1.12764 4.40623 1.78024 5.48805 2.77231 6.12188C2.18494 6.10468 1.61046 5.95309 1.09706 5.67983V5.7249C1.09706 7.43659 2.37189 8.86495 4.06278 9.19027C3.5182 9.3312 2.94722 9.35187 2.39305 9.25072C2.86384 10.6549 4.22998 11.6764 5.8475 11.7061C4.5821 12.6524 2.98781 13.2184 1.25483 13.2184C0.960153 13.2181 0.66574 13.2015 0.373047 13.1689C2.00943 14.1713 3.95365 14.7571 6.04185 14.7571C12.8438 14.7571 16.5627 9.37118 16.5627 4.70056C16.5627 4.54779 16.5627 4.39502 16.5513 4.24335C17.2749 3.74295 17.8998 3.12372 18.3969 2.41449H18.3981Z"
                      fill="white"
                    />
                  </svg>
                </div>
              </div>
              <div class="card-text-paragraft">
                <p>
                  "Snoop Dogg Playing The Wildly Entertaining 'SOS' Is
                  Ridiculous."
                </p>
              </div>
              <div class="card-date">
                <small class="">october 24, 2018</small>
              </div>
            </div>
            <!-- ==== END CARD 3 ==== -->
          </div>
        </div>
      </div>
      <!-- ========= END TOP SCORES =========== -->

      <!-- ========= NEWSLETTER =========== -->
      <div
        id="newsletter"
        class="background-set pt-3 pb-3 d-sm-flex flex-sm-row justify-content-sm-center p-xl-5 position-relative"
      >
        <figure class="col-lg-6">
          <!-- QUERY SM MD -->
          <div
            class="d-sm-flex flex-column d-lg-none text-white text-center ms-5 pt-5"
          >
            <span class="fw-light">Want to stay in touch?</span>
            <h2 class="text-warning">NEWSLETTER SUBSCRIBE</h2>
            <p style="font-size: 13px; width: 300px">
              In order to start receiving our news, all you have to do is enter
              your email addres. Everything else will be taken care of by us. We
              will send you emails containing information about game. We don't
              spam.
            </p>
            <form
              action=""
              class="bg-dark p-2 rounded"
              style="
                width: 200px;
                margin-top: 20px;
                margin-left: 80px;
                margin-bottom: 20px;
              "
            >
              <label
                for="email"
                style="
                  font-size: 10px;
                  color: rgb(128, 128, 128);
                  margin-left: -98px;
                "
                >your email addres</label
              >
              <br />
              <input
                id="email"
                type="email"
                class="bg-dark placeholder-orange"
                placeholder="youremail@binar.co.id"
                style="border: none; color: orange"
              />
            </form>
            <button class="text-bg-warning p-2 rounded fw-bold">
              subscribe now
            </button>
          </div>
          <!-- END QUERY SM MD -->
        </figure>
        <div
          id="content-newsletter"
          class="d-none text-white col-6 d-lg-flex flex-column gap-3 ps-5 pt-5"
        >
          <span class="fw-light"
            >Want to stay in <br />
            touch?</span
          >
          <h2 class="">
            NEWSLETTER <br />
            SUBSCRIBE
          </h2>
          <p>
            In order to start receiving our news, all you have to do is enter
            your email addres. Everything else will be taken care of by us. We
            will send you emails containing information about game. We don't
            spam.
          </p>
          <div class="d-flex flex-row gap-4">
            <form action="" class="bg-dark p-1 rounded">
              <label for="email">your email addres</label>
              <br />
              <input
                id="email"
                type="email"
                class="bg-dark placeholder-orange text-warning"
                placeholder="youremail@binar.co.id"
              />
            </form>
            <button class="btn text-bg-warning fw-bold">subscribe now</button>
          </div>
        </div>

        <!-- FOOTER -->
        <div class="container position-absolute bottom-0">
          <footer id="footer" class="py-3 my-4">
            <ul
              class="nav justify-content-lg-end border-bottom border-dark pb-3 mb-3"
            >
              <li class="nav-item ms-lg-5">
                <a
                  href="#main-screen"
                  class="nav-link px-2 white-text fs-13px hover-orange"
                  >MAIN</a
                >
              </li>
              <li class="nav-item ms-lg-5">
                <a
                  href="#game-choice"
                  class="nav-link px-2 white-text fs-13px hover-orange"
                  >ABOUT</a
                >
              </li>
              <li class="nav-item ms-lg-5">
                <a
                  href="#game-choice-features"
                  class="nav-link px-2 white-text fs-13px hover-orange"
                  >GAME FEATURES</a
                >
              </li>
              <li class="nav-item ms-lg-5">
                <a
                  href="#game-requirement"
                  class="nav-link px-2 white-text fs-13px hover-orange"
                  >SYSTEM REQUIREMENTS</a
                >
              </li>
              <li class="nav-item ms-lg-5 me-lg-5">
                <a
                  href="#top-scores"
                  class="nav-link px-2 white-text fs-13px hover-orange"
                  >QUOTES</a
                >
              </li>
              <li class="nav-item ms-5">
                <a href="">
                  <svg
                    width="10"
                    height="20"
                    viewBox="0 0 10 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M6.65382 19.1726H2.56282V9.67859H0.517822V6.40559H2.56282V4.44159C2.56282 1.77259 3.71782 0.183594 6.99582 0.183594H9.72582V3.45659H8.02082C6.74282 3.45659 6.65882 3.91459 6.65882 4.76859L6.65382 6.40559H9.74582L9.38382 9.67859H6.65382V19.1726Z"
                      fill="white"
                    />
                  </svg>
                </a>
              </li>
              <li class="nav-item ms-lg-5 ms-3">
                <a href="">
                  <svg
                    width="19"
                    height="15"
                    viewBox="0 0 19 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      opacity="0.3"
                      d="M18.3981 2.41449C17.7231 2.70013 17.0072 2.88765 16.2741 2.97084C17.0365 2.53297 17.623 1.84099 17.899 1.01526C17.1731 1.42694 16.3789 1.71699 15.5508 1.87286C14.8519 1.15947 13.8744 0.755389 12.8519 0.757085C10.8105 0.757085 9.15361 2.33909 9.15361 4.29061C9.15361 4.5679 9.18627 4.83816 9.25021 5.09623C6.17639 4.94862 3.45216 3.54236 1.62787 1.404C1.30934 1.92529 1.12764 2.53297 1.12764 3.18076C1.12764 4.40623 1.78024 5.48805 2.77231 6.12188C2.18494 6.10468 1.61046 5.95309 1.09706 5.67983V5.7249C1.09706 7.43659 2.37189 8.86495 4.06278 9.19027C3.5182 9.3312 2.94722 9.35187 2.39305 9.25072C2.86384 10.6549 4.22998 11.6764 5.8475 11.7061C4.5821 12.6524 2.98781 13.2184 1.25483 13.2184C0.960153 13.2181 0.66574 13.2015 0.373047 13.1689C2.00943 14.1713 3.95365 14.7571 6.04185 14.7571C12.8438 14.7571 16.5627 9.37118 16.5627 4.70056C16.5627 4.54779 16.5627 4.39502 16.5513 4.24335C17.2749 3.74295 17.8998 3.12372 18.3969 2.41449H18.3981Z"
                      fill="white"
                    />
                  </svg>
                </a>
              </li>
              <li class="nav-item ms-lg-5 ms-3">
                <a href="">
                  <svg
                    width="26"
                    height="19"
                    viewBox="0 0 26 19"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M20.61 0.183594H5.98961C3.12627 0.183594 0.799805 2.55085 0.799805 5.4644V12.8973C0.799805 15.8163 3.12627 18.1781 5.98961 18.1781H20.6046C23.4733 18.1781 25.7944 15.8108 25.7944 12.8973V5.4644C25.7998 2.55085 23.4733 0.183594 20.61 0.183594ZM17.0959 9.54779L10.2575 12.8642C10.0731 12.9524 9.86705 12.82 9.86705 12.6103V5.7679C9.86705 5.55821 10.084 5.42578 10.2629 5.51958L17.1013 9.04564C17.3074 9.15048 17.302 9.44846 17.0959 9.54779Z"
                      fill="#FF1313"
                    />
                  </svg>
                </a>
              </li>
              <li class="nav-item ms-lg-5 ms-3">
                <a href="#">
                  <svg
                    width="20"
                    height="19"
                    viewBox="0 0 20 19"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M19.9602 13.6252V9.5538V0.680176H2.93894L0.811279 2.97688V15.0868H6.13043V18.845H8.47085L11.024 16.1307H17.407L19.9602 13.6252ZM7.40694 13.4165H4.00268C3.76864 13.4165 3.57715 13.2286 3.57715 12.9989V2.76817C3.57715 2.5385 3.76864 2.35059 4.00268 2.35059H17.6197C17.8537 2.35059 18.0452 2.5385 18.0452 2.76817V10.7022C18.0452 10.8171 18.0027 10.9215 17.9229 10.9998L15.5825 13.2965C15.5027 13.3748 15.391 13.4165 15.2793 13.4165H11.3697L8.07183 15.6401C8.00268 15.6871 7.91757 15.7132 7.83247 15.7132C7.76332 15.7132 7.69949 15.6976 7.63566 15.6662C7.49204 15.5932 7.40694 15.4522 7.40694 15.2956V13.4165Z"
                      fill="white"
                    />
                    <path
                      d="M13.79 9.76274V5.58691H12.0878V9.76274H13.79ZM9.53465 9.76274V5.58691H7.83252V9.76274H9.53465Z"
                      fill="white"
                    />
                  </svg>
                </a>
              </li>
            </ul>
            <div class="d-flex flex-row justify-content-between">
              <p class="text-center grey-light fs-13px">
                © 2018 Your Games,Inc.All Right Reserved
              </p>
              <ul>
                <li class="d-inline-block fs-13px pe-1">
                  <a
                    href="#"
                    class="white-text text-decoration-none hover-orange"
                    >PRIVACY POLICE</a
                  >
                </li>
                <li
                  id="li-footer-border"
                  class="d-inline-block fs-13px ps-1 pe-1 border-start border-end border-white"
                >
                  <a
                    href="#"
                    class="white-text text-decoration-none hover-orange"
                    >TERM OF SERVICES</a
                  >
                </li>
                <li class="d-inline-block fs-13px ps-1">
                  <a
                    href="#"
                    class="white-text text-decoration-none hover-orange"
                    >CODE OF CONDUCT</a
                  >
                </li>
              </ul>
            </div>
          </footer>
        </div>
        <!-- END FOOTER -->
      </div>

      <!-- ========= END NEWSLETTER =========== -->
      <script src="/javascriptDom/landingDom.js"></script>
      <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    </div>
  </body>
</html>
