<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/img/logo.png" />
    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.2/examples/headers/"
    />
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/customStyleCss/login.css" />
    <title>Form</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="logo">
        <img src="/assets/img/logo-2.png" alt="" />
      </div>
      <div class="text-center mt-4 name">Rock Paper Scissor</div>
      <form method="post" action="/form" class="p-3 mt-3">
        <label for="name">Nama :</label>
        <%- include('../../components/input/index',{ type: "text", name: "name",
        id: "name", placeholder: "Masukkan Nama" }) %>
        <label for="email">Email :</label>
        <%- include('../../components/input/index',{ type: "email", name:
        "email", id: "email", placeholder: "contoh@gmail.com" }) %>
        <label for="pwd">Password :</label>
        <%- include('../../components/input/index',{ type: "password", name:
        "password", id: "pwd", placeholder: "Password" }) %>
        <button class="btn mt-3">Submit</button>
      </form>
      <div class="fs-6">
        <span>Sudah punya akun?</span><br /><a href="/login">Login disini!</a>
      </div>
      <a href="/" class="mt-3">Kembali ke Home</a>
    </div>

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
